.page__body {
    font-family: sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
}




.navigation {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 31px;
    padding-top: 31px;
   
   
}
a{
    text-decoration: none;
}
.menu {
    padding-left: 330px;
    padding-right: 330px;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
    margin-left: 0 auto;
    
   

}

.menu-link{
    font-size: 18px;
    line-height: 18px;
color: #FF0000;
align-items: center;
text-transform: uppercase;


}
.menu-link--current{
     color: #FF0000;
     text-transform: uppercase;
     align-items: center;
}

.main_picture{
    display: inline-block;
  margin: 0 auto;
  width: 100%;
height: 789px;
left: 0px;
top: 78px;
  
    
}
.intro_title{
    padding-top: 48px;
    padding-bottom: 38px;
    text-align: center;
font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;

}
.intro_text{
padding-left: 67px;
padding-right: 67px;
margin-top: 0;
margin-bottom: 28px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
}
.intro_text2{
    width: 100%;
font-weight: 400;
font-size: 16px;
line-height: 26px;

text-align: center;
letter-spacing: 2.4px;

}
.accent-color{
    color: #FFFFFF;
}
.intro_button{
    text-align: center;
    padding-top: 66px;
    padding-bottom: 82px;
}
.start-button{
   
    background: #FF0000;
    
    text-align: center;
    width: 191px;
height: 51px;
border-radius: 4px;
}
.note{
    width: 462px;
height: 39px;
left: 608px;
top: 0px;
    padding-left: 713px;
    padding-right: 105px;
    padding-bottom: 29px;
    padding-top: 0;
}
.text-note{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #373737;
}